<h2 mat-dialog-title>Nuevo Sistema</h2>
<hr>
<mat-dialog-content>
    <form #forma="ngForm">
        <div>
            <mat-form-field>
                <mat-label class="texto">Nombre</mat-label>
                <input matInput [(ngModel)]="sistema.sisNombre" name="descripcion" type="text"
                    placeholder="Nombre del Sistema" required="Ingrese un nombre de sistema" minlength="4">
                <mat-error>Mínimo 4 letras /*caracteres especiales NO ADMITIDOS*</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label class="texto">Url</mat-label>
                <input matInput [(ngModel)]="sistema.sisUrlSistema" name="url" type="text" placeholder="Url del sistema"
                    required pattern="[a-zA-Z0-9]+(?:\.espe.edu.ec+)">
                <mat-error>Formato Inválido<br>
                    Ejemplo: ejemplo.espe.edu.ec
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center">
    <button class="btn-ng" mat-stroked-button color="warn" (click)="cerrarModal()">Cancelar</button>
    <button 
    mat-raised-button
        matTooltip="SI AGREGAS UN SISTEMA, NO LO PODRÁS ELIMINAR"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button"
        mat-stroked-button color="primary" [disabled]="!forma.valid" (click)="addSistema()">Agregar</button>
        
</mat-dialog-actions>