<nav class="navbar navbar-expand-lg py-0 navbar-brand navbar-absolute navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a routerLink="/dashboard"></a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <i class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a routerLink="/perfil" class="nav-link" tooltipPosition="top">
                        <i class="material-icons">account_circle</i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a routerLink="/configuraciones" class="nav-link" tooltipPosition="top">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a routerLink="/configuraciones" class="nav-link" tooltipPosition="top">
                        <i class="material-icons">live_help</i>
                    </a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link" tooltipPosition="top" (click)="logout()">
                        <i class="material-icons">settings_power</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>