<h2 mat-dialog-title>Borrar Perfil</h2>
<hr>
<mat-dialog-content>
    <div>
        <p class="alerta">
            ¿Está seguro que desea borrar este Perfil?
        </p>
        <p>
            Perfil a Borrar: <strong>{{data.perNombre}}</strong>

        </p>
    </div>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">
    <button class="btn-ng" mat-stroked-button color="primary" (click)="cerrarModal()">Cancelar</button>
    <button mat-stroked-button color="warn" (click)="eliminarPerfil(this.data.id)">Borrar</button>
</mat-dialog-actions>