<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Perfil de usuario </h4>
            <p class="card-category"><b>Información de usuario</b> </p>
          </div>
          <div class="card-body">
            <form #formPer="ngForm">

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-4">
                        <label class="card-category">No. Cédula</label>
                        <p class="card-category">{{usuario.cedula}}</p>
                      </div>
                      <div class="col-md-4">
                        <label class="card-category">Nombres</label>
                        <p class="card-category"> {{usuario.nombre}} </p>
                      </div>
                      <div class="col-md-4">
                        <label class="card-category">Apellidos:</label>
                        <p class="card-category">{{usuario.apellido}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Correo Electrónico</mat-label>
                          <input matInput placeholder="Correo Electrónico" 
                              name="correo" 
                              class="text-lowercase"
                              [formControl]="emailFormControl"
                              [errorStateMatcher]="matcher"
                              [(ngModel)]="usuario.correo"
                              value="{{usuario.correo}}">
      
                          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Por favor ingrese correo válido
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Correo debe tener <strong>@</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field  appearance="outline">
                          <mat-label>Teléfono Convencional</mat-label>
                          <input matInput #numerocos 
                            minlength="9"
                            maxlength="9" 
                            value="{{usuario.telefonoConvencional}}"
                            placeholder="Teléfono Convencional(02)"
                            name="telcontacto"
                            [(ngModel)]="usuario.telefonoConvencional"
                            onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;" type="text">
                          <mat-hint align="start">Máximo 9 caracteres </mat-hint>
                          <mat-hint align="end">{{numerocos.value.length}} / 9</mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <label class="card-category">Teléfono Celular:</label>

                        <mat-form-field  appearance="outline">
                          <mat-label>Teléfono Celular</mat-label>
                          <input matInput #numerocs 
                            minlength="10"
                            maxlength="10" 
                            value="{{usuario.telefonoCelular}}" 
                            placeholder="Teléfono Celular"
                            name="tel"
                            [(ngModel)]="usuario.telefonoCelular"
                            onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;" type="text">
                          <mat-hint align="start">Máximo 10 caracteres </mat-hint>
                          <mat-hint align="end">{{numerocs.value.length}} / 10</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                      <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput 
                            placeholder="Dirección" 
                            name="direccion" 
                            minlength="5" 
                            value="{{usuario.direccion}}"
                            class="text-uppercase"
                            [(ngModel)]="usuario.direccion" required 
                            #direccionInput="ngModel" />
                        <mat-error *ngIf="direccionInput.hasError('required')">Campo Requerido</mat-error>
                        <mat-error *ngIf="direccionInput.hasError('minlength')">Mínimo 5 caracteres</mat-error>
                      </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                      <mat-form-field appearance="outline">
                        <mat-label>Contacto Emergencia</mat-label>
                        <input matInput 
                          placeholder="Nombre de Contacto" 
                          name="nombrecontacto" 
                          minlength="3"
                          class="text-uppercase"
                          value="{{usuario.referenciaPersNombre}}"
                          [(ngModel)]="usuario.referenciaPersNombre" required  
													oninput="this.value = this.value.replace(/[^a-z A-Z]/g,'')" required 
                          #representanteInput="ngModel" />
                        <mat-error *ngIf="representanteInput.hasError('required')">Campo Requerido</mat-error>
                        <mat-error *ngIf="representanteInput.hasError('minlength')">Mínimo 3 caracteres</mat-error>
                      </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline">
                    <mat-label>Número de Contacto de Emergencia</mat-label>
                    <input matInput #numeroc
                      minlength="9"
                      maxlength="10" 
                      placeholder="Número Teléfono" 
                      name="telcontacto"
                      value="{{usuario.referenciaPersTelf}}"
                      [(ngModel)]="usuario.referenciaPersTelf"
                      onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;" type="text">
                    <mat-hint align="start">Máximo 10 caracteres </mat-hint>
                    <mat-hint align="end">{{numeroc.value.length}} / 10</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <button mat-raised-button color="primary"  [disabled]="formPer.invalid" (click)="actualizaper()">
                   <mat-icon>spellcheck </mat-icon> Actualizar Información
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <!-- <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" alt="Espe Logo" src="../../../assets/img/logoESPE.png" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{user.nombres}} {{user.apellidos}}</h4>
            <h6 class="card-category"><strong>Perfiles:</strong></h6>
            <h6 class="card-category text-gray">
              <li *ngFor="let p of  perfil"> {{p.perfil}}</li>
            </h6>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>