<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Perfil de usuario </h4>
            <p class="card-category"><b>Informacion de usuario</b> </p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <label class="card-category">No. Cédula</label>
                  <p class="card-category">{{usuario.cedula}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="card-category">Nombres</label>
                  <p class="card-category"> {{usuario.nombre}} </p>
                </div>
                <div class="col-md-4">
                  <label class="card-category">Apellidos</label>
                  <p class="card-category">{{usuario.apellido}}</p>
                </div>
                <div class="col-md-4">
                  <label class="card-category">Correo</label>
                
                  <p class="card-category"> <input type="text" [(ngModel)]="usuario.correo"  name="Correo" value="{{usuario.correo}}"> </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="card-category">Direccion</label>
                
                  <p class="card-category"> <input type="text" [(ngModel)]="usuario.direccion"  name="Direccion" value="{{usuario.direccion}}"> </p>
                </div>
                <div class="col-md-4">
                  <label class="card-category">Telefono Convencional</label>
                  
                  <p class="card-category"> <input type="text" [(ngModel)]="usuario.telefonoConvencional"  name="Convencional" value="{{usuario.telefonoConvencional}}" minlength="10" maxlength="12"> </p>
                </div>
                <div class="col-md-4">
                  <label class="card-category">Telefono Celular</label>
                  
                  <p class="card-category"> <input type="text" [(ngModel)]="usuario.telefonoCelular"  name="telefonoCelular" value="{{usuario.telefonoCelular}}" minlength="10" maxlength="12" > </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"></div>
                <p>___________________________________________________________________________________</p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label class="card-category">Contacto de Emergencia</label>
                  
                  <p class="card-category"> <input type="text" [(ngModel)]="usuario.referenciaPersNombre"  name="nombreReferencia" value="{{usuario.referenciaPersNombre}}"> </p>
                </div>
                <div class="col-md-8">
                  <label class="card-category">Numero de Contacto de Emegencia</label>
                  
                  <p class="card-category"> <input type="text" [(ngModel)]="usuario.referenciaPersTelf"  name="telefonoReferencia" value="{{usuario.referenciaPersTelf}}" minlength="10" maxlength="12"> </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <button mat-stroked-button color="primary" (click)="actualizaper()">
                      Actualizar  Información
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">

      </div>
      <!-- <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" alt="Espe Logo" src="../../../assets/img/logoESPE.png" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{user.nombres}} {{user.apellidos}}</h4>
            <h6 class="card-category"><strong>Perfiles:</strong></h6>
            <h6 class="card-category text-gray">
              <li *ngFor="let p of  perfil"> {{p.perfil}}</li>
            </h6>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>