<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<a id="modal-599445" href="#modal-container-5994451" role="button" class="btn btn-success"
				data-toggle="modal" >
				<mat-icon>person_add</mat-icon> Crear Profesor
			</a>
			<div class="modal fade" id="modal-container-5994451" role="dialog" aria-labelledby="myModalLabel" 
				aria-hidden="true">
				<div class="modal-dialog " role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">
								<mat-icon>person_add</mat-icon> Crear Profesor
							</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form #formProfe="ngForm" role="form" (keyup.enter)="agregarprof()">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<mat-form-field class="example-full-width">
												<input matInput #message minlength="10" maxlength="10" placeholder="Número de Cédula" name="cedula" 
												[(ngModel)]="usuario.cedula" onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;" onpaste="return false"  type="text" required >
												<mat-hint align="start">Máximo 10 caracteres </mat-hint>
												<mat-hint align="end">{{message.value.length}} / 10</mat-hint>
											</mat-form-field>		
										</div>
										<div class="col-md-6">
										</div>
									</div>
								</div>
								<div class="form-group">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Nombres" name="nombre" id="nombre" minlength="3" type="text"
											[(ngModel)]="usuario.nombre"  #nombreInput="ngModel"
											required onkeypress="return check(event)" onpaste="return false"/>
										<mat-error *ngIf="nombreInput.hasError('required')">Campo Requerido</mat-error>
										<mat-error *ngIf="nombreInput.hasError('minlength')">Mínimo 3 caracteres</mat-error>

									</mat-form-field>
								</div>
								<div class="form-group">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Apellidos" name="apellido" minlength="3"
											[(ngModel)]="usuario.apellido" #apellidoInput="ngModel"
											required onkeypress="return check(event)" onpaste="return false"/>
										<mat-error *ngIf="apellidoInput.hasError('required')">Campo Requerido</mat-error>
										<mat-error *ngIf="apellidoInput.hasError('minlength')">Mínimo 3 caracteres</mat-error>
									</mat-form-field>
								</div>
								<div class="form-group">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Dirección" name="direccion" minlength="5"
											[(ngModel)]="usuario.direccion" required  
											#direccionInput="ngModel"/>
										<mat-error *ngIf="direccionInput.hasError('required')">Campo Requerido</mat-error>
										<mat-error *ngIf="direccionInput.hasError('minlength')">Mínimo 5 caracteres</mat-error>
									</mat-form-field>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<mat-form-field class="example-full-width">
												<input matInput #numeroc maxlength="9" placeholder="Número Convencional" name="convencional" [(ngModel)]="usuario.telefonoConvencional" onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;"  type="text" >
												<mat-hint align="start">Máximo 9 caracteres </mat-hint>
												<mat-hint align="end">{{numeroc.value.length}} / 9</mat-hint>
											</mat-form-field>	
											
										</div>
										<div class="col-md-6">
											<mat-form-field class="example-full-width">
												<input matInput #numeroce minlength="10" maxlength="10" placeholder="Número Celular" name="celular" [(ngModel)]="usuario.telefonoCelular" onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;"  type="text"  required>
												<mat-hint align="start">Máximo 10 caracteres </mat-hint>
												<mat-hint align="end">{{numeroce.value.length}} / 10</mat-hint>
											</mat-form-field>	
										</div>
									</div>
								</div>

								<div class="form-group">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Correo Electrónico" name="correo"
											[formControl]="emailFormControl" [errorStateMatcher]="matcher"
											[(ngModel)]="usuario.correo">

										<mat-error
											*ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
											Por favor ingrese correo válido
										</mat-error>
										<mat-error *ngIf="emailFormControl.hasError('required')">
											Correo debe tener <strong>@</strong>
										</mat-error>
									</mat-form-field>
								</div>

								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<mat-form-field class="example-full-width">
												<input matInput placeholder="Nombre de Contacto" name="nombrecontacto"
													[(ngModel)]="usuario.referenciaPersNombre" #representanteInput="ngModel" 
													required onkeypress="return check(event)" />
												<mat-error *ngIf="representanteInput.hasError('required')">Campo Requerido</mat-error>
												<mat-error *ngIf="representanteInput.hasError('minlength')">Mínimo 3 caracteres</mat-error>
											</mat-form-field>
										</div>
										<div class="col-md-6">
											<mat-form-field class="example-full-width">
												<input matInput #numeroco maxlength="10" placeholder="Número Telefono" name="celular" [(ngModel)]="usuario.referenciaPersTelf" onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;"  type="text"  required>
												<mat-hint align="start">Máximo 10 caracteres </mat-hint>
												<mat-hint align="end">{{numeroco.value.length}} / 10</mat-hint>
											</mat-form-field>
										</div>
										
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-info"  data-dismiss="modal" [disabled]="formProfe.invalid" (click)="agregarprof()">
								<mat-icon>person_add</mat-icon> Agregar
							</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<mat-icon>remove</mat-icon> Cancelar
							</button>
						</div>
					</div>

				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
					<div class="col-md-1">
					</div>

				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<mat-form-field>
					<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar...">
				</mat-form-field>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">

			<div class="col-md-12">

				<table mat-table [(dataSource)]="dataSource" matSort>
					<ng-container matColumnDef="cedula">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Cedula</b>
						</th>
						<td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
					</ng-container>
					<ng-container matColumnDef="nombres">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Nombres</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
					</ng-container>
					<ng-container matColumnDef="apellidos">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Apellidos</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
					</ng-container>
					<ng-container matColumnDef="correo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Correo</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.correo}} </td>
					</ng-container>
					<ng-container matColumnDef="direccion">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Direccion</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
					</ng-container>
					<ng-container matColumnDef="telefonoConvencional">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Teléfono Convencional</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.telefonoConvencional}} </td>
					</ng-container>
					<ng-container matColumnDef="telefonoCelular">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Teléfono Celular</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.telefonoCelular}} </td>
					</ng-container>
					<ng-container matColumnDef="referenciaPersNombre">
						<th mat-header-cell *matHeaderCellDef mat-sorteader> <b>Nombre Representante</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.referenciaPersNombre}} </td>
					</ng-container>
					<ng-container matColumnDef="referenciaPersTelf">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Teléfono Representante</b> </th>
						<td mat-cell *matCellDef="let element"> {{element.referenciaPersTelf}} </td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>

		</div>
	</div>
	<mat-error class="centre" *ngIf="mostrarMensajeFiltro"><b>No existen resultados</b>
	</mat-error>
	<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 25, 50, 100]" showFirstLastButtons>
	</mat-paginator>