<br>


<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<a id="modal-599445" href="#modal-container-5994451" role="button" class="btn btn-success"
				data-toggle="modal">
				<mat-icon>person_add</mat-icon> Crear Profesor
			</a>
			<div class="modal fade" id="modal-container-5994451" role="dialog" aria-labelledby="myModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">
								<mat-icon>person_add</mat-icon> Crear Profesor
							</h5>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form role="form">
								<div class="form-group">
									<label for="exampleInputCedula">
										Cédula:
									</label>
									<input type="text" class="form-control" id="exampleInputCedula"
										[(ngModel)]="usuario.cedula" name="cedula"  maxLength="11" required />
								</div>
								<div class="form-group">
									<label for="exampleInputNombres">
										Nombres:
									</label>
									<input [(ngModel)]="usuario.nombre" type="text" class="form-control"
										id="exampleInputNombres" [(ngModel)]="usuario.nombre" name="nombre" minLength="5" maxLength="25" required />
								</div>
								<div class="form-group">
									<label for="exampleInputApellidos">
										Apellidos:
									</label>
									<input [(ngModel)]="usuario.apellido" type="text" class="form-control"
										id="exampleInputApellidos" [(ngModel)]="usuario.apellido" name="apellido" minLength="5" maxlength="30"
										required />
								</div>
								<div class="form-group">
									<label for="inputDireccion">
										Dirección:
									</label>
									<input type="text" class="form-control" id="inputDireccion" maxlength="200"
										[(ngModel)]="usuario.direccion" name="dirrecion" required />
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="inputTelefono1">
												Teléfono Convencional:
											</label>
										</div>
										<div class="col-md-6">
											<label for="inputTelefono1">
												Teléfono Celular:
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<input type="text" class="form-control" id="inputTelefono"
												[(ngModel)]="usuario.telefonoConvencional" name="convencional" maxLength="10"
												required />
										</div>
										<div class="col-md-6">
											<input type="text" class="form-control" id="inputTelefono2"  maxLength="10"
												[(ngModel)]="usuario.telefonoCelular" name="celular" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="inputCorreo">
										Correo:
									</label>
									<input type="email" class="form-control" id="inputCorreo"
										[(ngModel)]="usuario.correo" name="correo" required />
								</div>

								<div class="form-group">
									<label for="inputRefNombre">
										Nombre de Contacto de Emergencia:
									</label>
									<input type="text" class="form-control" id="inputRefNombre" name="refNombre" minLength="3" maxLength="20"
										[(ngModel)]="usuario.referenciaPersNombre" required />
								</div>

								<div class="form-group">
									<label for="inputRefNumero">
										Numero de contacto de Emergencia:
									</label>
									<input type="number" class="form-control" id="inputRefNumero" minLength="9" maxLength="11"
										[(ngModel)]="usuario.referenciaPersTelf" name="refnumero" required />
								</div>
							</form>
						</div>
						<div class="modal-footer">

							<button type="button" class="btn btn-info" (click)="agregarprof()" data-dismiss="modal">
								<mat-icon>person_add</mat-icon> Agregar
							</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								<mat-icon>remove</mat-icon> Cancelar
							</button>
						</div>
					</div>

				</div>

			</div>

			<br>

			<div class="container-fluid">
				<div class="row">
					
					<div class="col-md-12">
						<table mat-table [(dataSource)]="dataSource" matSort>
							<ng-container matColumnDef="cedula">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Cedula</b>
								</th>
								<td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
							</ng-container>
							<ng-container matColumnDef="nombres">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Nombres</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
							</ng-container>
							<ng-container matColumnDef="apellidos">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Apellidos</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
							</ng-container>
							<ng-container matColumnDef="correo">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Correo</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.correo}} </td>
							</ng-container>
							<ng-container matColumnDef="direccion">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Direccion</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
							</ng-container>
							<ng-container matColumnDef="telefonoConvencional">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>T. Convencional</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.telefonoConvencional}} </td>
							</ng-container>
							<ng-container matColumnDef="telefonoCelular">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>T. Celular</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.telefonoCelular}} </td>
							</ng-container>
							<ng-container matColumnDef="referenciaPersNombre">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>R. Nombre</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.referenciaPersNombre}} </td>
							</ng-container>
							<ng-container matColumnDef="referenciaPersTelf">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> <b>R. Telefono</b> </th>
								<td mat-cell *matCellDef="let element"> {{element.referenciaPersTelf}} </td>
							</ng-container>
							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>
					</div>
					
				</div>
			</div>
			<mat-error class="centre" *ngIf="mostrarMensajeFiltro"><b>No existen resultados</b>
			</mat-error>
			<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 25, 50, 100]" showFirstLastButtons>
			</mat-paginator>
		</div>