<br>
<br>
 <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			 <a id="modal-599445" href="#modal-container-599445" role="button" class="btn" data-toggle="modal">Crear Profesor</a>
			
			<div class="modal fade" id="modal-container-599445" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">
								Modal title
							</h5> 
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="">
								<label class="card-category">Cedula</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.cedula"  name="cedula" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Nombres</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.nombre"  name="nombre" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Apellidos</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.apellido"  name="apellido" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Correo</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.correo"  name="correo" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Direccion</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.direccion"  name="dirrecion" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Telefono Convencional</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.telefonoConvencional"  name="convencional" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Telefono Celular</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.telefonoCelular"  name="celular" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Referencia</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.referenciaPersNombre"  name="referencia" value=""> </p>
							  </div>
							  <div class="">
								<label class="card-category">Referencia Telefono</label>
								<p class="card-category"> <input type="text" [(ngModel)]="usuario.referenciaPersTelf"  name="referenciaTelefono" value=""> </p>
							  </div>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-primary" (click)="agregarprof()">
								Crear
							</button> 
							<button type="button" class="btn btn-secondary" data-dismiss="modal">
								Cerrar
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</div>
</div>