<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <a id="modal-599445" href="#modal-grado" role="button" class="btn btn-success" data-toggle="modal">
        <mat-icon>person_add</mat-icon> Crear Grado
      </a>
      
      <div class="modal fade" id="modal-grado" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">
                <mat-icon>person_add</mat-icon> Crear Grado
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número Curso" id="curso"  #cursoInput="ngModel"  maxlength="2" [(ngModel)]="grado.grado" name="Letra2" required maxlength="2"
                    onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false;"  type="text"  />
										<mat-error *ngIf="cursoInput.hasError('required')">Campo Requerido</mat-error>
									</mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre Curso" #gradoInput="ngModel"  type="text"  id="grado1" [(ngModel)]="grado.nombreGrado" name="Letra3" required onkeypress="return check1(event)" onpaste="return false" />
										<mat-error *ngIf="gradoInput.hasError('required')">Campo Requerido</mat-error>
                    
									</mat-form-field>
                  
                </div>

              </form>

            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-info" (click)="creargrado()" data-dismiss="modal">
                <mat-icon>person_add</mat-icon> Agregar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <mat-icon>remove</mat-icon> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <a id="modal-59944" href="#modal-paralelo" role="button" class="btn btn-success" data-toggle="modal">
        <mat-icon>person_add</mat-icon> Crear Paralelo
      </a>
      <div class="modal fade" id="modal-paralelo" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">
                <mat-icon>person_add</mat-icon> Crear Paralelo
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form #formPara="ngForm" role="form">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Paralelo" type="text" #paraleloInput="ngModel" id="paralelo" [(ngModel)]="paralelo.paralelo" name="Letra4" required maxlength="1"
                    onkeypress="return check1(event)"  />
										<mat-error *ngIf="paraleloInput.hasError('required')">Campo Requerido</mat-error>

									</mat-form-field>
               
                </div>

              </form>

            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-info"  [disabled]="formPara.invalid" (click)="crearparalelo()" data-dismiss="modal">
                <mat-icon>person_add</mat-icon> Agregar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <mat-icon>remove</mat-icon> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a id="modal-5994" href="#modal-pg" role="button" class="btn btn-success" data-toggle="modal">
        <mat-icon>person_add</mat-icon> Asignar Grado
      </a>
      <div class="modal fade" id="modal-pg" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">
                <mat-icon>person_add</mat-icon> Asignar Curso-Paralelo
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <mat-form-field>
                <mat-label>Seleccione Grado</mat-label>
                <mat-select [(ngModel)]="grado.idGrado" name="sisop">
                  <mat-option *ngFor="let grado of grados" value="{{grado.idGrado}}"
                    >
                    {{grado.nombreGrado}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Seleccione Paralelo</mat-label>
                <mat-select [(ngModel)]="paralelo.idParalelo" name="par">
                  <mat-option *ngFor="let paralelo of paralelos1" value="{{paralelo.idParalelo}}"
                    >
                    {{paralelo.paralelo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <select type="number" [(ngModel)]="selectedValue">
                <option *ngFor="let grado of grados" [ngValue]="c">{{grado.nombreGrado}}</option>
              </select> -->

             


            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-info" (click)="creargradop(grado.idGrado,paralelo.idParalelo)" data-dismiss="modal">
                <mat-icon>person_add</mat-icon> Agregar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <mat-icon>remove</mat-icon> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar...">
      </mat-form-field>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">

    <div class="col-md-12">

      <table mat-table [(dataSource)]="dataSource" matSort>
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Curso</b>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.idGradoParalelo}} </td>
        </ng-container>
        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Nombre Curso</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.grado.nombreGrado}} </td>
        </ng-container>
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Paralelo</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.paralelo.paralelo}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>
<mat-error class="centre" *ngIf="mostrarMensajeFiltro"><b>No existen resultados</b>
</mat-error>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 25, 50, 100]" showFirstLastButtons>
</mat-paginator>