<br><br><br>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">
      <div mat-dialog-actions align="center">

      <a id="modal-599445" href="#modal-grado" role="button" class="btn btn-info" data-toggle="modal">
        <mat-icon>apartment</mat-icon> Crear Grado
      </a>
      </div>
      <div class="modal fade" id="modal-grado" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">
                <mat-icon>apartment</mat-icon> Crear Grado
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form #formCurso="ngForm" role="form"  >
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput 
                      placeholder="Número Curso" 
                      id="curso"  #cursoInput="ngModel"  
                      maxlength="2" 
                      [(ngModel)]="grado.grado" 
                      name="Letra2" 
                      required maxlength="1"
                      onkeypress="if(isNaN(String.fromCharCode(event.keyCode))) return false; return espacios(event);"/>
										<mat-error *ngIf="cursoInput.hasError('required')">Campo Requerido</mat-error>
									</mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre Curso" #gradoInput="ngModel" minlength="3" type="text"  id="grado1" [(ngModel)]="grado.nombreGrado" name="Letra3" required onkeypress="return check1(event)" onkeyup="this.value=this.value.toUpperCase();" onpaste="return false" />
                    <mat-error *ngIf="gradoInput.hasError('required')">Campo Requerido</mat-error>
										<mat-error *ngIf="gradoInput.hasError('minlength')">Mínimo 3 caracteres</mat-error>
                    
                    
									</mat-form-field>
                  
                </div>

              </form>

            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-info"  [disabled]="formCurso.invalid" (keyup.enter)="creargrado()" (click)="creargrado()" data-dismiss="modal">
                <mat-icon>apartment</mat-icon> Agregar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" >
                <mat-icon>remove</mat-icon> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div mat-dialog-actions align="center">

      <a id="modal-59944" href="#modal-paralelo" role="button" class="btn btn-info" data-toggle="modal">
        <mat-icon>school</mat-icon> Crear Paralelo
      </a>
      </div>
      <div class="modal fade" id="modal-paralelo" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">
                <mat-icon>school</mat-icon> Crear Paralelo
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form #formPara="ngForm" role="form">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Paralelo" type="text" #paraleloInput="ngModel" id="paralelo" [(ngModel)]="paralelo.paralelo" name="Letra4" required maxlength="1"
                    onkeypress="return check1(event)"  />
										<mat-error *ngIf="paraleloInput.hasError('required')">Campo Requerido</mat-error>

									</mat-form-field>
               
                </div>

              </form>

            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-info"  [disabled]="formPara.invalid" (click)="crearparalelo()" data-dismiss="modal">
                <mat-icon>school</mat-icon> Agregar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <mat-icon>remove</mat-icon> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div mat-dialog-actions align="center">

      <a id="modal-5994" href="#modal-pg" role="button" class="btn btn-info" data-toggle="modal">
        <mat-icon>table_chart</mat-icon> Asignar Grado
      </a>
      </div>
      <div class="modal fade" id="modal-pg" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">
                <mat-icon>table_chart</mat-icon> Asignar Curso-Paralelo
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form #formGrado="ngForm" role="form">
                <div class="form-group">
                <mat-form-field>
                  <mat-label>Seleccione Grado</mat-label>
                  <mat-select [(ngModel)]="grado.idGrado" name="sisop" #select1="ngModel" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let grado of grados" value="{{grado.idGrado}}">
                      {{grado.nombreGrado | uppercase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="select1.hasError('required')">Selecciona un Grado</mat-error>
                </mat-form-field>
                </div>
                <div class="form-group">
                <mat-form-field>
                  <mat-label>Seleccione Paralelo</mat-label>
                  <mat-select [(ngModel)]="paralelo.idParalelo" name="par" #select2="ngModel" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let paralelo of paralelos1" value="{{paralelo.idParalelo}}"
                      >
                      {{paralelo.paralelo | uppercase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="select2.hasError('required')">Selecciona un Paralelo</mat-error>

                </mat-form-field>
                </div>
                </form>
              <!-- <select type="number" [(ngModel)]="selectedValue">
                <option *ngFor="let grado of grados" [ngValue]="c">{{grado.nombreGrado}}</option>
              </select> -->

            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-info" [disabled]="formGrado.invalid" (click)="creargradop(grado.idGrado,paralelo.idParalelo)" data-dismiss="modal">
                <mat-icon>table_chart</mat-icon> Agregar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <mat-icon>remove</mat-icon> Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Buscar...">
      </mat-form-field>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">

    <div class="col-md-12">

      <table mat-table [(dataSource)]="dataSource" matSort>
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Curso</b>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.idGradoParalelo}} </td>
        </ng-container>
        <ng-container matColumnDef="nombres">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Nombre Curso</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.grado.nombreGrado | uppercase}} </td>
        </ng-container>
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Paralelo</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.paralelo.paralelo | uppercase}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>
<mat-error class="centre" *ngIf="mostrarMensajeFiltro"><b>No existen resultados</b>
</mat-error>
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10, 15, 25, 50, 100]" showFirstLastButtons>
</mat-paginator>