
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <a id="modal-599445" href="#modal-container-599445" role="button" class="btn btn-success"  data-toggle="modal">
        <mat-icon>person_add</mat-icon>  Crear Estudiante
      </a>
			<div class="modal fade" id="modal-container-599445" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">
                <mat-icon>person_add</mat-icon> Crear Estudiante
							</h5> 
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form role="form">
                <div class="form-group">
                  <label for="exampleInputCedula">
                    Cédula:
                  </label>
                  <input type="text" class="form-control" id="exampleInputCedula" required/>
                </div>
                <div class="form-group">
                  <label for="exampleInputNombres">
                    Nombres:
                  </label>
                  <input type="text" class="form-control" id="exampleInputNombres" required/>
                </div>
                <div class="form-group">
                   <label for="exampleInputApellidos">
                    Apellidos:
                  </label>
                  <input type="text" class="form-control" id="exampleInputApellidos" required/>
                </div>
                <div class="form-group">
                  <label for="inputDireccion">
                    Dirección:
                  </label>
                  <input type="text" class="form-control" id="inputDireccion" required/>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="inputTelefono1">
                        Teléfono Convencional:
                      </label>  
                    </div>
                    <div class="col-md-6">
                      <label for="inputTelefono1">
                        Teléfono Celular:
                      </label>  
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="inputTelefono" required/>
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" id="inputTelefono2" />
                      </div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="inputDireccion">
                    Dirección:
                  </label>
                  <input type="text" class="form-control" id="inputDireccion" required/>
                </div>
                <div class="form-group">
                  <label for="inputCorreo">
                    Correo:
                  </label>
                  <input type="email" class="form-control" id="inputCorreo" required/>
                </div>
              </form>
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-info">
                <mat-icon>person_add</mat-icon> Agregar
							</button> 
							<button type="button" class="btn btn-danger" data-dismiss="modal">
							  <mat-icon>remove</mat-icon>	Cancelar
							</button>
						</div>
					</div>
					
				</div>
				
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Cédula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono Convencional</th>
                <th scope="col">Teléfono Celular</th>
                <th scope="col">Correo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-1">
      </div>
    
</div>
</div>
</div>
</div>
