<div class="logo">
    <a routerLink="/dashboard"><img class=" mx-auto d-block" width="65%"
            ></a>
</div>
<!-- <div class="sidebar-wrapper">
    <h3 style="text-align: center"><b>MENÚ----</b></h3>
    <hr width="85%">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.url]">
                <i class="material-icons">{{menuItem.icono}}</i>
                <b>{{menuItem.opcion}}</b>
            </a>
        </li>
    </ul>
</div> -->


<div class="logo">
    <a routerLink="/dashboard"><img class=" mx-auto d-block" width="65%"
            src="../../../assets/img/Espe-Angular-Logo.png" /></a>
</div>
<div class="sidebar-wrapper">
    <h3 style="text-align: center"><b>MENÚ</b></h3>
    <hr width="85%">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <b>{{menuItem.title}}</b>
            </a>
        </li>
    </ul>
</div>