<!-- <div class="main-content" fxLayout="column" fxLayoutAlign="center center">
	<div>
		<h2>
			<B>SISTEMA DE CALIFICACIÓN DE NOTAS</B>
		</h2>
	</div>
	<div><img alt="imagenESPE" src="../../assets/img/espelog.png" /></div> 

</div> -->
<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="carousel slide" id="carousel-783718">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-783718" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-783718">
					</li>
					<li data-slide-to="2" data-target="#carousel-783718">
					</li>
				</ol>
				<div class="carousel-inner">
					<br>
					<br>
					<br>
					<br> 
					<br>
					<div class="carousel-item active">
						<img class="d-block w-974" alt="Carousel Bootstrap First" src="../../assets/img/peniel.jpg" width="974" height="773" />
						
					</div>
					<div class="carousel-item">
						<img class="d-block w-974" alt="Carousel Bootstrap Second" src="../../assets/img/niños.jpg" width="974" height="773" />
						
					</div>
					<div class="carousel-item">
						<img class="d-block w-974" alt="Carousel Bootstrap Third" src="../../assets/img/escuela.jpg" width="974" height="773"  />
						
					</div>
				</div> <a class="carousel-control-prev" href="#carousel-783718" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-783718" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
			</div>
		</div>
	</div> 
</div>-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
					<div class="carousel slide" id="carousel-153593">
						<ol class="carousel-indicators">
							<li data-slide-to="0" data-target="#carousel-153593" class="active">
							</li>
							<li data-slide-to="1" data-target="#carousel-153593">
							</li>
							<li data-slide-to="2" data-target="#carousel-153593">
							</li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" alt="Carousel Bootstrap First" src="../../assets/img/niños.jpg" />
								<div class="carousel-caption">
										<h2><span style="color:rgb(14, 36, 236);"> Banda Estudiantil</span>
									</h2>
									<p><span style="color:rgb(27, 116, 104);"> 
										<b>Estudiantes de todos los años de básica formando parte de la Banda Estudiantil.</b>
										</span>
									</p>
								</div>
							
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" alt="Carousel Bootstrap Second" src="../../assets/img/peniel.jpg"  />
								<div class="carousel-caption">
									<h2>
										Presentaciones Artísticas de los Estudiantes
									</h2>
									<p>
										<b>Estudiantes de Primer Año de Educación Básica presentando su coreografía.</b>
									</p>
								</div>
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" alt="Carousel Bootstrap Third"  src="../../assets/img/escuela.jpg" />
								<div class="carousel-caption">
									<h2>
										Estudiantes en la Ayuda Social
									</h2>
									<p><b>
										Cada estudiante lleva un presente para ayudar a la comunidad.</b>
									</p>
								</div>
							</div>
						</div> <a class="carousel-control-prev" href="#carousel-153593" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-153593" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
					</div>
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
	</div>
</div>